@import "variables.less";
@import "mixins.less";
@import "oil-variables.less";

body {
  background-color: @body-bg;
	@media (min-width: @grid-float-breakpoint) {
		padding: 30px;
	}
}

.page-wrap {
	background-color: @p-wrap;
}