@{
    ViewBag.Title = "NewsDetail";
    Layout = "~/Views/Share/_LayoutPage.cshtml";
}

<section class="section-news clearfix">
    <div class="row">
        <div class="col-sm-9 clearfix">
            <h3>Tin tức</h3>
            <hr>
            <h4>Xăng tăng giá hơn 600 đồng một lít</h4>
            <div class="content-news">
                <p class="Normal">
                    Lấy dữ liệu từ Hiệp hội nghiên cứu quốc tế (AIRINC), Cổng thông tin năng lượng châu Âu, Quỹ tiền tệ Quốc tế (IMF) và Cục thông tin năng lượng Mỹ, <em>Bloomberg</em>&nbsp;vừa xếp hạng giá xăng tại 61 quốc gia trên thế giới.
                </p>
                <p class="Normal">
                    Những nước này đều có thu nhập bình quân ngày từ 3,5 USD mỗi người trở lên. Giá được tính từ 1-22/7 với loại xăng không chì thông thường. Trong danh sách 61 nước được xếp hạng không có Việt Nam.
                </p>
                <p class="subtitle">
                    1. Venezuela
                </p>
                <table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td>
                                <img alt="venezuela-4381-1442224335.jpg" data-natural-width="500" src="http://c1.f25.img.vnecdn.net/2015/09/14/venezuela-4381-1442224335.jpg" data-width="500" data-pwidth="470.40625" style="width: 100%;">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p style="text-align:center;">
                    Giá một lít xăng: 0,00034 USD (7,65 đồng)
                </p>
                <p class="Normal">
                    Tỷ lệ người dân không đủ tiền mua xăng: 0%
                </p>
                <p class="Normal">
                    Chi phí xăng trên thu nhập: 0%
                </p>
                <p class="Normal">
                    Chi phí đổ đầy một chiếc Chevy Suburban tại đây chỉ là 0,05 USD, thấp không tưởng so với 106 USD tại Mỹ hay 300 USD tại Na Uy. Người Venezuela mua xăng bằng đồng bolivar. Nhưng khi đồng tiền này liên tục mất giá so với USD, giá xăng quy ra USD cũng trở nên thấp kỷ lục. Thêm vào đó, Chính phủ trợ giá lại càng khiến xăng tại đây thêm rẻ. Người dân Venezuela còn sẵn sàng lái xe vài trăm mét đi uống cà phê thay vì đi bộ.
                </p>
                <p class="subtitle">
                    2. Ảrập Xêút
                </p>
                <table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td>
                                <img alt="arab-4822-1442224335.jpg" data-natural-width="500" src="http://c1.f25.img.vnecdn.net/2015/09/14/arab-4822-1442224335.jpg" data-width="500" data-pwidth="470.40625" style="width: 100%;">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p style="text-align:center;">
                    Giá một lít xăng: 0,12 USD (gần 2.700 đồng)
                </p>
                <p class="Normal">
                    Tỷ lệ người dân không đủ tiền mua xăng: 0,21%
                </p>
                <p class="Normal">
                    Chi phí xăng trên thu nhập: 0,57%
                </p>
                <p class="Normal">
                    Người Ảrập ngồi trên hai mỏ chất lỏng khồng lồ, là dầu và nước. Ảrập Xêút hiện là nước sản xuất lớn nhất của Tổ chức Các nước Xuất khẩu dầu mỏ (OPEC) và cũng trợ giá rất mạnh tay cho nhiên liệu trong nước. Người nước này tiêu thụ xăng nhiều bậc nhất thế giới, nhưng cũng chỉ phải chi một khoản rất nhỏ cho nhiên liệu. Thu nhập bình quân đầu người ở đây hiện là 57 USD một ngày.
                </p>
                <p class="subtitle">
                    3. Kuwait
                </p>
                <table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td>
                                <img alt="kuwait-4056-1442224335.jpg" src="http://c1.f25.img.vnecdn.net/2015/09/14/kuwait-4056-1442224335.jpg" data-width="495" data-pwidth="470.40625" style="width: 100%;">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p style="text-align:center;">
                    Giá một lít xăng: 0,2 USD (4.500 đồng)
                </p>
                <p class="Normal">
                    Tỷ lệ người dân không đủ tiền mua xăng: 0,22%
                </p>
                <p class="Normal">
                    Chi phí xăng trên thu nhập: 0,66%
                </p>
                <p class="Normal">
                    Kuwait cũng là một trong những nước trợ giá xăng mạnh nhất thế giới. Quỹ Tiền tệ quốc tế (IMF) từng cảnh báo nước này không nên tiếp tục trợ giá xăng và chi tiêu cho các chương trình phúc lợi với tốc độ như hiện tại. Dầu mỏ đóng góp nửa GDP Kuwai và 95% cho xuất khẩu. Thu nhập bình quân ở đây là 90 USD một ngày. Kuwait hiện tiêu thụ xăng nhiều thứ 3 thế giới, sau Mỹ và Canada.
                </p>
                <p class="subtitle">
                    4. Ai Cập
                </p>
                <table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td>
                                <img alt="ai-cap-7018-1442224335.jpg" data-natural-width="500" src="http://c1.f25.img.vnecdn.net/2015/09/14/ai-cap-7018-1442224335.jpg" data-width="500" data-pwidth="470.40625" style="width: 100%;">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p style="text-align:center;">
                    Giá một lít xăng: 0,34 USD (7.600 đồng)
                </p>
                <p class="Normal">
                    Tỷ lệ người dân không đủ tiền mua xăng: 3,76%
                </p>
                <p class="Normal">
                    Chi phí xăng trên thu nhập: 0,93%
                </p>
                <p class="Normal">
                    Tài chính Ai Cập đang báo động đỏ, và giá xăng siêu rẻ là nguyên nhân chủ yếu. Đất nước đông dân nhất thế giới Ảrập đã chi khoảng 13 tỷ USD một năm cho việc này. Chính phủ Ai Cập đang lên kế hoạch giảm dần trợ giá, dù các nỗ lực gần đây đều khiến người dân nổi giận, dẫn đến thất bại. Thu nhập bình quân của nước này là 9,05 USD một ngày.
                </p>
                <p class="subtitle">
                    5. Iran
                </p>
                <table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td>
                                <img alt="iran-8007-1442224336.jpg" data-natural-width="500" src="http://c1.f25.img.vnecdn.net/2015/09/14/iran-8007-1442224336.jpg" data-width="500" data-pwidth="470.40625" style="width: 100%;">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p style="text-align:center;">
                    Giá một lít xăng: 0,35 USD (7.800 đồng)
                </p>
                <p class="Normal">
                    Tỷ lệ người dân không đủ tiền mua xăng: 2,53%
                </p>
                <p class="Normal">
                    Chi phí xăng trên thu nhập: 1,85%
                </p>
                <p class="Normal">
                    Nhiều năm bị trừng phạt kinh tế đã vắt kiệt nguồn thu từ dầu mỏ của Iran. Tài chính nước này thậm chí tồi tệ đến mức năm 2010, Iran phải khởi động kế hoạch 5 năm hạn chế trợ giá nhiên liệu. Thu nhập bình quân tại đây là 14 USD một ngày.
                </p>
                <p class="subtitle">
                    6. Các tiểu vương quốc Ảrập thống nhất (UAE)
                </p>
                <table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td>
                                <img alt="uae-7368-1442224336.jpg" data-natural-width="500" src="http://c1.f25.img.vnecdn.net/2015/09/14/uae-7368-1442224336.jpg" data-width="500" data-pwidth="470.40625" style="width: 100%;">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p style="text-align:center;">
                    Giá một lít xăng: 0,44 USD (9.800 đồng)
                </p>
                <p class="Normal">
                    Tỷ lệ người dân không đủ tiền mua xăng: 0,42%
                </p>
                <p class="Normal">
                    Chi phí xăng trên thu nhập: 0,81%
                </p>
                <p class="Normal">
                    Từ khi phát hiện tài nguyên dầu mỏ thập niên 60, UAE đã nhanh chóng từ một vùng đất nghèo khổ biến thành giàu có, hiện đại. Hàng thập kỷ nay, họ đã đổ cả tỷ USD vào việc trợ giá nhiên liệu. Tuy nhiên, việc này đang thay đổi với cơ chế định giá xăng mới theo thị trường. Thu nhập bình quân ở đây là 104 USD một ngày.
                </p>
                <p class="subtitle">
                    7. Nigeria
                </p>
                <table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td>
                                <img alt="nigeria-9132-1442224336.jpg" data-natural-width="500" src="http://c1.f25.img.vnecdn.net/2015/09/14/nigeria-9132-1442224336.jpg" data-width="500" data-pwidth="470.40625" style="width: 100%;">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p style="text-align:center;">
                    Giá một lít xăng: 0,44 USD (9.800 đồng)
                </p>
                <p class="Normal">
                    Tỷ lệ người dân không đủ tiền mua xăng: 5,54%
                </p>
                <p class="Normal">
                    Chi phí xăng trên thu nhập: 0,94%
                </p>
                <p class="Normal">
                    Nigeria là một trong những nước chịu thiệt hại nặng nhất vì cú sốc giá dầu từ giữa năm ngoái. 75% nguồn thu của Chính phủ nước này là từ dầu mỏ. Và số tiền này lại được dùng để trợ giá mạnh cho nhiên liệu trong nước. Bên cạnh đó, dù là nước sản xuất hàng đầu châu Phi, họ lại thường xuyên thiếu nhiên liệu do tích trữ và quản lý yếu kém.
                </p>
                <p class="subtitle">
                    8. Malaysia
                </p>
                <table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td>
                                <img alt="malaysia-5003-1442224336.jpg" data-natural-width="500" src="http://c1.f25.img.vnecdn.net/2015/09/14/malaysia-5003-1442224336.jpg" data-width="500" data-pwidth="470.40625" style="width: 100%;">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p style="text-align:center;">
                    Giá một lít xăng: 0,55 USD (12.360 đồng)
                </p>
                <p class="Normal">
                    Tỷ lệ người dân không đủ tiền mua xăng: 1,88%
                </p>
                <p class="Normal">
                    Chi phí xăng trên thu nhập: 2,01%
                </p>
                <p class="Normal">
                    Chương trình trợ giá nhiên liệu của Malaysia đã giúp nước này lọt top rẻ nhất thế giới. Tuy nhiên, hoạt động này đã được hạn chế từ năm ngoái. Thu nhập bình quân ngày tại đây hiện là 29 USD.
                </p>
                <p class="subtitle">
                    9. Nga
                </p>
                <table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td>
                                <img alt="nga-3870-1442224337.jpg" data-natural-width="500" src="http://c1.f25.img.vnecdn.net/2015/09/14/nga-3870-1442224337.jpg" data-width="500" data-pwidth="470.40625" style="width: 100%;">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p style="text-align:center;">
                    Giá một lít xăng: 0,62 USD (13.900 đồng)
                </p>
                <p class="Normal">
                    Tỷ lệ người dân không đủ tiền mua xăng: 2,77%
                </p>
                <p class="Normal">
                    Chi phí xăng trên thu nhập: 2,52%
                </p>
                <p class="Normal">
                    Kinh tế Nga đang chịu tác động từ 3 yếu tố: các lệnh trừng phạt của phương Tây, giá dầu lao dốc và nhu cầu nhiên liệu trong nước yếu. Nga hiện là nước sản xuất dầu mỏ lớn thứ 3 thế giới với thu nhập bình quân ngày 22 USD.
                </p>
                <p class="subtitle">
                    10. Mỹ
                </p>
                <table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td>
                                <img alt="My-3607-1442224337.jpg" data-natural-width="500" src="http://c1.f25.img.vnecdn.net/2015/09/14/My-3607-1442224337.jpg" data-width="500" data-pwidth="470.40625" style="width: 100%;">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p style="text-align:center;">
                    Giá một lít xăng: 0,72 USD (16.200 đồng)
                </p>
                <p class="Normal">
                    Tỷ lệ người dân không đủ tiền mua xăng: 0,47%
                </p>
                <p class="Normal">
                    Chi phí xăng trên thu nhập: 2,06%
                </p>
                <p class="Normal">
                    Với thu nhập bình quân cao (155 USD) và giá xăng lại thuộc hàng rẻ nhất thế giới, người Mỹ chẳng có gì phải phàn nàn khi mua nhiên liệu. Mỹ cũng là quốc gia tiêu thụ xăng lớn nhất thế giới, với trung bình 4,5 lít một người một ngày.
                </p>
                <p class="Normal" style="text-align:right;">
                    <strong>Hà Thu</strong><em> (theo Bloomberg)</em>
                </p>
            </div>
        </div>
        <div class="col-sm-3 clearfix">
            <h3>Tin khác</h3>
            <hr>
            <ul class="list-unstyled">
                <li>
                    <a href="#">Xăng tăng giá hơn 600 đồng một lít</a>
                </li>
                <li>
                    <a href="#">Những nước có giá xăng rẻ nhất thế giới</a>
                </li>
                <li>
                    <a href="#">Giá xăng giảm 1.200 đồng</a>
                </li>
                <li>
                    <a href="#">Giá xăng dầu có thể giảm mạnh sau 2/9</a>
                </li>
            </ul>
        </div>
    </div>
</section>