@{
    ViewBag.Title = "News";
    Layout = "~/Views/Share/_LayoutPage.cshtml";
}

<section class="section-news clearfix">
    <h3>Tin tức</h3>
    <hr>
    <div class="news-content">
        <div class="row">
            <div class="col-sm-4">
                <a href="#" class="item">
                    <div class="embed-responsive embed-responsive-16by9">
                        <img class="embed-responsive-item" src="http://c1.f25.img.vnecdn.net/2015/09/17/xang4-2661-1442486044.jpg">
                    </div>
                    <h4>Xăng tăng giá hơn 600 đồng một lít</h4>
                    <p>Doanh nghiệp đầu mối đồng loạt đưa giá bán xăng RON 92 lên mức 17.950 đồng một lít từ 15h hôm nay (18/9).</p>
                    <em>Thứ sáu, 18/9/2015 | 14:53 GMT+7</em>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#" class="item">
                    <div class="embed-responsive embed-responsive-16by9">
                        <img class="embed-responsive-item" src="http://c1.f25.img.vnecdn.net/2015/09/14/venezuela-4381-1442224335.jpg">
                    </div>
                    <h4>Xăng tăng giá hơn 600 đồng một lít</h4>
                    <p>Doanh nghiệp đầu mối đồng loạt đưa giá bán xăng RON 92 lên mức 17.950 đồng một lít từ 15h hôm nay (18/9).</p>
                    <em>Thứ sáu, 18/9/2015 | 14:53 GMT+7</em>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#" class="item">
                    <div class="embed-responsive embed-responsive-16by9">
                        <img class="embed-responsive-item" src="http://c1.f25.img.vnecdn.net/2015/09/14/arab-4822-1442224335.jpg">
                    </div>
                    <h4>Xăng tăng giá hơn 600 đồng một lít</h4>
                    <p>Doanh nghiệp đầu mối đồng loạt đưa giá bán xăng RON 92 lên mức 17.950 đồng một lít từ 15h hôm nay (18/9).</p>
                    <em>Thứ sáu, 18/9/2015 | 14:53 GMT+7</em>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a href="#" class="item">
                    <div class="embed-responsive embed-responsive-16by9">
                        <img class="embed-responsive-item" src="http://c1.f25.img.vnecdn.net/2015/09/14/kuwait-4056-1442224335.jpg">
                    </div>
                    <h4>Xăng tăng giá hơn 600 đồng một lít</h4>
                    <p>Doanh nghiệp đầu mối đồng loạt đưa giá bán xăng RON 92 lên mức 17.950 đồng một lít từ 15h hôm nay (18/9).</p>
                    <em>Thứ sáu, 18/9/2015 | 14:53 GMT+7</em>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#" class="item">
                    <div class="embed-responsive embed-responsive-16by9">
                        <img class="embed-responsive-item" src="http://c1.f25.img.vnecdn.net/2015/09/14/ai-cap-7018-1442224335.jpg">
                    </div>
                    <h4>Xăng tăng giá hơn 600 đồng một lít</h4>
                    <p>Doanh nghiệp đầu mối đồng loạt đưa giá bán xăng RON 92 lên mức 17.950 đồng một lít từ 15h hôm nay (18/9).</p>
                    <em>Thứ sáu, 18/9/2015 | 14:53 GMT+7</em>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#" class="item">
                    <div class="embed-responsive embed-responsive-16by9">
                        <img class="embed-responsive-item" src="http://c1.f25.img.vnecdn.net/2015/09/14/iran-8007-1442224336.jpg">
                    </div>
                    <h4>Xăng tăng giá hơn 600 đồng một lít</h4>
                    <p>Doanh nghiệp đầu mối đồng loạt đưa giá bán xăng RON 92 lên mức 17.950 đồng một lít từ 15h hôm nay (18/9).</p>
                    <em>Thứ sáu, 18/9/2015 | 14:53 GMT+7</em>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a href="#" class="item">
                    <div class="embed-responsive embed-responsive-16by9">
                        <img class="embed-responsive-item" src="http://c1.f25.img.vnecdn.net/2015/09/14/uae-7368-1442224336.jpg">
                    </div>
                    <h4>Xăng tăng giá hơn 600 đồng một lít</h4>
                    <p>Doanh nghiệp đầu mối đồng loạt đưa giá bán xăng RON 92 lên mức 17.950 đồng một lít từ 15h hôm nay (18/9).</p>
                    <em>Thứ sáu, 18/9/2015 | 14:53 GMT+7</em>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#" class="item">
                    <div class="embed-responsive embed-responsive-16by9">
                        <img class="embed-responsive-item" src="http://c1.f25.img.vnecdn.net/2015/09/14/nigeria-9132-1442224336.jpg">
                    </div>
                    <h4>Xăng tăng giá hơn 600 đồng một lít</h4>
                    <p>Doanh nghiệp đầu mối đồng loạt đưa giá bán xăng RON 92 lên mức 17.950 đồng một lít từ 15h hôm nay (18/9).</p>
                    <em>Thứ sáu, 18/9/2015 | 14:53 GMT+7</em>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#" class="item">
                    <div class="embed-responsive embed-responsive-16by9">
                        <img class="embed-responsive-item" src="http://c1.f25.img.vnecdn.net/2015/09/14/malaysia-5003-1442224336.jpg">
                    </div>
                    <h4>Xăng tăng giá hơn 600 đồng một lít</h4>
                    <p>Doanh nghiệp đầu mối đồng loạt đưa giá bán xăng RON 92 lên mức 17.950 đồng một lít từ 15h hôm nay (18/9).</p>
                    <em>Thứ sáu, 18/9/2015 | 14:53 GMT+7</em>
                </a>
            </div>
        </div>
    </div>
    <div class="text-center">
        <nav>
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>