@using Website.Data;
@model Website.Data.News
@{
    ViewBag.Title = "NewsDetail";
    Layout = "~/Views/Share/_LayoutPage.cshtml";
}

<section class="section-news clearfix">
    <div class="row">
        <div class="col-sm-9 clearfix">
            <h3>Tin tức</h3>
            <hr>
            <h4>@Model.Title</h4>
            <div class="content-news">
                @Html.Raw(HttpUtility.HtmlDecode(Model.LongDescription))
            </div>
        </div>
        <div class="col-sm-3 clearfix">
            <h3>Tin khác</h3>
            <hr>
            <ul class="list-unstyled">
                <li>
                    <a href="#">Xăng tăng giá hơn 600 đồng một lít</a>
                </li>
                <li>
                    <a href="#">Những nước có giá xăng rẻ nhất thế giới</a>
                </li>
                <li>
                    <a href="#">Giá xăng giảm 1.200 đồng</a>
                </li>
                <li>
                    <a href="#">Giá xăng dầu có thể giảm mạnh sau 2/9</a>
                </li>
            </ul>
        </div>
    </div>
</section>