<div class="row header-top z-depth-2 hidden-xs">
    <div class="col-xs-9">
        <ul class="list-inline">
            <li>
                <a href="skype:echo123?call"><i class="fa fa-skype"></i> truc.trg</a>
            </li>
            <li>
                <a href="tel:1-800-455-5777"><i class="fa fa-phone"></i> 1-800-455-5777</a>
            </li>
            <li>
                <a href="mailto:truc.truong09@gmail.com"><i class="fa fa-envelope-o"></i> truc.truong09@gmail.com</a>
            </li>
        </ul>
    </div>
    <div class="col-xs-3">
        <ul class="list-inline text-right">
            <li>
                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-google-plus"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-youtube"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-weixin"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-whatsapp"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="row header-logo">
    <a class="navbar-brand logo-sm" href="#">
        <img src="~/Images/logo.png" />
    </a>
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>

<div class="row header-bottom">
    <nav class="collapse navbar-collapse" id="navbar">
        <ul class="list-unstyled">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Giới thiệu</a></li>
            <li><a href="#">Sản phẩm</a></li>
            <li><a href="#">Tin tức</a></li>
            <li><a href="#">Video</a></li>
            <li><a href="#">Hình ảnh</a></li>
            <li><a href="#">Liên hệ</a></li>
        </ul>
    </nav>
</div>