<footer class="row z-depth-2">
    <div class="footer-top">
        <div class="col-md-3">
            <h3><i class="fa fa-map-marker"></i> Địa chỉ</h3>
            <p>Số 1 Phan Chí Thọ, Phường Tân Thuận, Quận 7, HCM</p>
        </div>
        <div class="col-sm-4 col-md-3">
            <h3><i class="fa fa-phone"></i> Điện thoại</h3>
            <p><i class="fa fa-arrow-right"></i> <a href="tel:1-800-455-57777">1-800-455-57777</a></p>
        </div>
        <div class="col-sm-4 col-md-3">
            <h3><i class="fa fa-envelope-o"></i> Email</h3>
            <p><i class="fa fa-arrow-right"></i> <a href="mailto:truc.trg09@gmail.com">truc.trg09@gmail.com</a></p>
        </div>
        <div class="col-sm-4 col-md-3">
            <h3><i class="fa fa-skype"></i> Skype</h3>
            <p><i class="fa fa-arrow-right"></i> <a href="skype:truc.truong">truc.truong</a></p>
        </div>
    </div>
    <div class="col-sm-12 footer-bottom">
        <p class="text-uppercase text-center">CƯỜNG THINH PETROL © 2015</p>
    </div>
</footer>
